<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Professor Reviewing Forum</title>
</head>

<body>
	<h1>Review your favorite (or least favorite) professors at UMD!</h1>

	<h2></a></h2>
    <ul>
        <li>To submit a review, press <a href="/submitReview">Review</a></li>
        <li>To view a professor's reviews, press <a href="/forum">Review Forum</a></li>
    </ul>
	<hr>
</body>

</html>